.custom-logo {
    width: 150px;
    height: 25px;
}

.arrow {
    margin-top: -5px;
}

/* ------------------------Navbar-------------------------- */

.custom-text-navbar {
    font-size: 14px !important;
    line-height: 18px !important;
}

.custom-ml-navbar {
    margin-left: 5%;
}

.custom-img-bg {
    text-align: right;
    align-content: right;
}

/* ---------------------------------Header-------------------------- */

.custom-div-bg-img {
    width: 100%;
}

.custom-bg-img {
    margin-bottom: -600px;
    width: 100%;
}

.custom-title-header {
    font-size: 64px;
    color: black;
    font-weight: bold;
}

.custom-subtitle-header {
    color: #333333;
    font-size: 18px;
}

.button-home-work {
    background-image: linear-gradient(to right, #594cca, #291e8c);
    padding: 10px 20px;
    width: 250px;
    line-height: 22px;
    color: white;
    position: relative;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    margin-top: 30px;
}

.button-home-work:hover {
    background-image: linear-gradient(to right, #ffc275, #ff9903);
    box-shadow: 5px 8px 14px #c7c7c7;
}

.custom-h4-home {
    color: white;
    margin: auto auto;
    padding: 0px 0px;
    font-size: 16px;
}

.custom-text-btn {
    flex: 65%;
    margin-left: 10px;
}

.custom-arrow {
    flex: 5%;
    margin-right: 30px;
}

/* ----------------------------------Project---------------------------- */

.custom-mt-project {
    margin-top: 300px;
}

.ipad {
    display: none;
}

.custom-title-project {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.custom-subtitle-project {
    font-size: 16px;
}

.custom-bg-project1 {
    margin-top: 20%;
    width: 97%;
}

.custom-bg-project2 {
    width: 100%;
}

.custom-bg-project3 {
    width: 97%;
    margin-top: -125%;
}

.custom-bg-project4 {
    width: 100%;
    margin-top: 15%;
}

.custom-mb-text-project {
    margin-bottom: 5%;
}

.custom-mt-div-project {
    margin-top: -80%;
    padding: 0px 20px;
}

.custom-mt-div-project2 {
    margin-top: -120%;
    padding: 0px 20px;
}

.custom-mt-div-project3 {
    margin-top: -115%;
    padding: 0px 20px;
}

.custom-title-project-content {
    font-size: 32px;
    font-weight: bold;
}

.custom-title-project-content {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.custom-img-project {
    width: 115%;
    margin-left: -9%;
    margin-top: -3%;
}

.custom-img-project2 {
    width: 50%;
    margin-top: 15%;
}

.custom-img-project3 {
    width: 100%;
    margin-top: 50%;
}

.custom-img-project4 {
    width: 100%;
    margin-top: 10%;
}

.custom-img-project5 {
    width: 100%;
}

.custom-pad-row-project {
    padding: 0px 40px;
}

.custom-pad-content-project {
    padding: 0px 0px;
}

.custom-material-project {
    margin-top: 65%;
    position: relative;
    margin-left: -30%;
}

.custom-mt-curious {
    margin-top: 0%;
}

.custom-curious-project {
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.custom-btn-curious {
    width: 32px;
    height: 32px;
}

.custom-col-curious {
    margin-left: 45%;
}

.custom-text-curious {
    color: #8146d5;
    text-decoration: underline;
}

.custom-text-curious:hover {
    color: #470e6d;
}

/* ----------------------------Service------------------------ */

.custom-mt-service {
    margin-top: 200px;
}

.custom2-bg-img-service {
    left: 25%;
    margin-left: -50vw;
    margin-right: -0vw;
    right: 25%;
    width: 110vw;
    height: 425px;
    border-radius: 10px;
}

.custom-title-card {
    color: black;
    font-size: 24px;
}

.custom-subtitle-card {
    font-size: 16px;
}

.custom-mt-card {
    margin-top: -33%;
}

.custom-pad-service {
    padding: 0px 0px;
}

.custom-card-service {
    width: 105%;
}

.custom-mt-text-card {
    margin-top: -60%;
    margin-left: 15%;
}

/* ------------------------------Client--------------------------- */

.custom-mt-client {
    margin-top: 200px;
}

.custom-ml-client {
    margin-left: 50px;
}

/* ----------------------------------Testi------------------------------- */

.custom-mt-testi {
    margin-top: 400px;
    opacity: 0.5;
    margin-left: 100px;
}

.custom-card-testi1 {
    width: 25%;
    margin-top: -800px;
}

.custom-card-testi2 {
    width: 25%;
    margin-left: -475px;
    margin-top: -650px;
}

.custom-card-testi3 {
    width: 25%;
    margin-left: -295px;
    margin-top: -250px;
    z-index: 5;
    position: relative;
}

.custom-card-testi4 {
    width: 25%;
    margin-left: -245px;
    margin-top: -50px;
    z-index: 1;
}

.custom-card-testi5 {
    width: 25%;
    margin-left: -100px;
    margin-top: 100px;
}

.custom-card-testi-slider {
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.custom-card-testi-slider:hover {
    box-shadow: 6px 6px 12px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid #9266cf;
}

.custom-img-card-slider {
    width: 52px;
    height: 52px;
    margin-top: 35px;
    margin-left: 25px;
}

.custom-p-testi-slider {
    margin-left: 15px;
    font-size: 12px;
    width: 225px;
    margin-top: 0px;
}

.custom-hr-slider {
    width: 100px;
    height: 3px;
    background-color: #8146d5;
    margin-left: 15px;
    margin-bottom: 0px;
}

.custom-name-card {
    font-size: 10px;
    font-weight: bold;
    color: #8146d5;
    margin-left: 15px;
    margin-top: 10px;
}

.custom-name-title-card {
    font-size: 10px;
    margin-left: 15px;
    margin-top: -20px;
}

.custom-icon1 {
    margin-top: -175px;
    position: relative;
    z-index: 5;
    margin-left: 75px;
}

.custom-icon2 {
    margin-top: -575px;
    position: relative;
    z-index: 5;
    margin-left: 245px;
}

.custom-mt-testi-slider {
    margin-top: -550px;
}

.testi-nav-thumbnails {
    margin-left: 75px;
}

.testi {
    margin-top: 50px;
}

.custom-img-testi {
    width: 64px;
    height: 64px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.custom-name-testi {
    color: #8146d5;
    font-weight: bold;
}

.custom-jobtitle-testi {
    color: #8146d5;
    margin-top: -20px;
    font-size: 14px;
}

.custom-p-testi {
    width: 600px;
}

/* --------------------------------Touch--------------------------------- */

.custom-touch {
    background-color: #363540;
    width: 100%;
    height: 200px;
    margin-top: 150px;
}

.custom-margin-text-touch {
    padding: 50px 0;
}

.custom-title-touch {
    color: #fff;
    font-size: 42px;
}

.custom-subtitle-touch {
    color: #fff;
    font-size: 18px;
}

.custom-p-touch {
    color: #fff;
    font-size: 20px;
    text-decoration: underline;
    margin-right: 10px;
}

.custom-p-touch:hover {
    color: #8146d5;
}

.custom-btn-touch {
    width: 32px;
    height: 32px;
}

.custom-margin-touch {
    float: right;
    padding-top: 85px;
}

/* -------------------------------------Culture------------------------ */

.custom-mt-culture {
    margin-top: 100px;
    margin-bottom: 50px;
}

.custom-mt-text-culture {
    margin-top: 15%;
}

.custom-title-culture {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
}

.custom-img-culture {
    width: 100%;
}

.custom-subtitle-culture {
    width: 400px;
}

/* --------------------------------------Get in Touch------------------------------- */

.button-request {
    background-image: linear-gradient(to right, #594cca, #291e8c);
    padding: 10px 20px;
    width: 175px;
    line-height: 22px;
    color: white;
    position: relative;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    margin-top: 30px;
}

.button-request:hover {
    background-image: linear-gradient(to right, #ffc275, #ff9903);
    box-shadow: 5px 8px 14px #c7c7c7;
}

.custom-text-request {
    color: white;
    margin: auto auto;
    padding: 0px 0px;
    font-size: 14px;
}
