@media only screen and (min-width: 768px) and (max-width: 991px) {
    .custom-bg-img {
        width: 75%;
        margin-bottom: -55%;
    }

    .custom-title-header {
        font-size: 48px;
    }

    .custom-subtitle-header {
        font-size: 16px;
        width: 65%;
    }

    .button-home-work {
        background-image: linear-gradient(to right, #594cca, #291e8c);
        width: 250px;
    }

    .custom-h4-home {
        font-size: 16px !important;
    }

    .custom-mt-project {
        margin-top: 10%;
    }

    .ipad {
        display: block;
    }

    .no-ipad {
        display: none;
    }

    .custom-bg-project4 {
        width: 100%;
        margin-top: 15%;
    }

    .custom-bg-project3 {
        width: 97%;
        margin-top: -200%;
    }

    .custom-mt-div-project3 {
        margin-top: -155%;
        padding: 0px 20px;
    }

    .custom-img-project {
        width: 105%;
        margin-left: -4%;
        margin-top: -3%;
    }

    .custom-curious-project {
        font-size: 24px;
        font-weight: bold;
        color: black;
    }

    .custom-col-curious {
        margin-left: 40%;
    }

    .custom-title-project-content {
        font-size: 28px;
        font-weight: bold;
    }

    .custom-mt-service {
        margin-top: 200px;
    }

    .custom2-bg-img-service {
        left: 15%;
        margin-left: -10vw;
        height: 1050px;
        width: 200%;
    }

    .custom-card-service {
        width: 65%;
    }

    .custom-mt-card {
        margin-top: -1000px;
    }

    .custom-pad-service {
        padding: 0px 0px;
        margin-bottom: 10%;
    }

    .custom-mt-text-card {
        margin-top: -35%;
        margin-left: 25%;
    }
}
