@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .custom-bg-img {
        width: 70%;
        margin-bottom: -55%;
    }

    .custom-title-header {
        font-size: 48px;
    }

    .custom-subtitle-header {
        font-size: 18px;
        width: 95%;
    }

    .button-home-work {
        background-image: linear-gradient(to right, #594cca, #291e8c);
        width: 250px;
    }

    .custom-h4-home {
        font-size: 16px !important;
    }

    .custom-mt-project {
        margin-top: 15%;
    }

    .custom-img-project {
        width: 110%;
        margin-left: -7%;
        margin-top: -3%;
    }

    .custom-bg-project2 {
        width: 100%;
        margin-top: 5%;
    }

    .custom-bg-project3 {
        width: 97%;
        margin-top: -145%;
    }

    .custom-mt-div-project3 {
        margin-top: -130%;
        padding: 0px 20px;
    }

    .custom-bg-project4 {
        width: 100%;
        margin-top: 15%;
    }

    .custom-mt-curious {
        margin-top: -10%;
    }

    .custom-curious-project {
        font-size: 24px;
        font-weight: bold;
        color: black;
    }

    .custom-col-curious {
        margin-left: 35%;
    }

    .custom-mt-service {
        margin-top: 150px;
    }

    .custom2-bg-img-service {
        left: 25%;
        margin-left: -50vw;
        margin-right: -0vw;
        right: 25%;
        width: 125vw;
        height: 325px;
        border-radius: 10px;
    }

    .custom-card-service {
        width: 103%;
    }

    .custom-mt-card {
        margin-top: -30%;
    }
}
