@media (max-width: 576px) {
    .custom-logo {
        width: 135px;
        height: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .custom-bg-img {
        width: 125%;
        margin-bottom: -100px;
        margin-left: -20%;
    }

    .custom-title-header {
        font-size: 32px;
    }

    .custom-subtitle-header {
        font-size: 14px;
    }

    .button-home-work {
        background-image: linear-gradient(to right, #594cca, #291e8c);
        width: 250px;
        margin: auto auto;
    }

    .custom-h4-home {
        font-size: 14px !important;
    }

    .custom-mt-project {
        margin-top: 15%;
    }

    .custom-title-project {
        font-size: 24px;
        font-weight: bold;
        color: black !important;
        text-align: center;
    }

    .custom-subtitle-project {
        font-size: 14px;
    }

    .custom-bg-project1 {
        margin-top: 5%;
        width: 100%;
        height: 300px;
    }

    .custom-mt-div-project {
        margin-top: -80%;
        padding: 0px 20px;
    }

    .custom-title-project-content {
        font-size: 24px;
        font-weight: bold;
    }

    .custom-img-project {
        width: 100%;
        margin-left: 0%;
        margin-top: 0%;
    }

    .custom-bg-project2 {
        width: 100%;
        margin-top: 15%;
        height: 400px;
    }

    .custom-mt-div-project2 {
        margin-top: -110%;
        padding: 0px 20px;
    }

    .custom-img-project2 {
        width: 50%;
        margin-top: 5%;
    }

    .custom-material-project {
        display: none;
    }

    .custom-bg-project3 {
        width: 100%;
        margin-top: 10%;
    }

    .custom-bg-project4 {
        width: 100%;
        margin-top: 13%;
        height: 300px;
    }

    .custom-mt-curious {
        margin-top: 5%;
    }

    .custom-curious-project {
        font-size: 20px;
        font-weight: bold;
        color: black;
    }

    .custom-col-curious {
        margin-left: 20%;
    }

    .custom-mt-service {
        margin-top: 40%;
    }

    .custom-mt-card {
        margin-top: -790px;
    }

    .custom-title-card {
        color: black;
        font-size: 22px;
    }

    .custom-subtitle-card {
        font-size: 16px;
    }

    .custom2-bg-img-service {
        left: 15%;
        margin-left: -10vw;
        height: 835px;
        width: 120%;
    }

    .custom-pad-service {
        padding: 0px 0px;
        margin-bottom: 10%;
    }

    .custom-card-service {
        width: 100%;
    }

    .custom-mt-text-card {
        margin-top: -57%;
        margin-left: 15%;
    }

    .custom-mt-client {
        margin-top: 100px;
    }

    .custom-ml-client {
        margin-left: 0px;
    }

    .custom-img-client {
        width: 100%;
    }
}
